<html>
<head>
    <link rel="stylesheet" href="style.css">
    <style>
        table,th,td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1> <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/newtask">Add new Task</a>
    </h1>
    </br>
        <table>
            <tr>
                <td>Name</td>
                <td>Due Date</td>
                <td>Description</td>
            </tr>
            <% for ( var i =0; i< taskDb.length;i++){ %>
                <tr>
                    <td>
                        <%= taskDb[i].taskName %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDue %>
                    </td>
                    <td>
                        <%= taskDb[i].taskDesc %>
                    </td>
                </tr>
                <% }%>
</body>
</html>